.main
    display flex
    justify-content center
    align-items center
    height 100vh

.figure
    width 20vw
    height 20vw
    background #dd1c1c
    clip-path polygon(75% 0, 100% 25%, 50% 80%, 0 25%, 25% 0)

    &__cnt
        text-decoration none
        display block
        color #fff
        font-size 13vw
        line-height .9
        text-align center
        width 100%